<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Song of Songs 4:16 NIV</ion-title>
  </ion-toolbar>
</ion-header>,

<ion-content fullscreen>

  <ion-card>
    <img src="../../assets/images/Prayer_120.jpg" />

    <ion-card-header>
      <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->
      <ion-card-title>Pray the <b>Scripture <i class="arrow down"></i></b></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      Father God, thank You for my
      Bridegroom Jesus, Your Word says I became His bride when I chose to make Him King of my heart and my life. Help me
      to prepare for His triumphant return. Give me a thirst for Your Word, and Your wisdom. Set my heart on fire for
      Your love which feeds the flames. Give me a desire to go before You and behold Your face, to sit at Your feet and
      minister to Your heart with passion. Teach me to be holy and righteous, partnering with Holy Spirit, as Your Word
      says let my body be a living sacrifice holy and acceptable to You. Teach me how to be a clean and pure vessel that
      I do not grieve or quench Holy Spirit who has chosen to live within me and keep my lamp filled with oil, from
      intimacy with You in the secret place.
      <em style="color: #b21010;">In The Name of Jesus Amen</em>
    </ion-card-content>
    <ion-button color="medium" size="small" expand="full" [routerDirection]="'root'" [routerLink]="['/toc']">Back To Prayer Card List    </ion-button>

  </ion-card>
</ion-content>