<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> 2nd Corinthians 5:17 KJV</ion-title>
  </ion-toolbar>
</ion-header>,

<ion-content fullscreen>

  <ion-card>
    <img src="../../assets/images/Prayer_111.jpg" />

    <ion-card-header>
      <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->
      <ion-card-title>Pray the <b>Scripture <i class="arrow down"></i></b></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      Father God, thank You for giving me Your precious Son Jesus. Thank You for loving me so much that You choose to
      give me Your heart when I didn't
      deserve Him. Remind me that Jesus is the filament of Your very nature, He is truly a reflection of Your unending
      love for me. Lord help me to stop & pause to reflect back on that day when love came down to be a baby born to die
      for my sins. Thank You Lord You washed my dirty rags clean by the blood of Jesus that I can now come as I am and
      sit at the table with You to taste & see You are good. Remind me the very breaths I take are a reflection of Your
      grace upon my life. Teach me to live righteously and in complete alignment with Your Word. Thank You for saving a
      retch like me & making me new. 
      <em style="color: #b21010;">In The Name of Jesus Amen</em>
    </ion-card-content>
   
    <ion-button style="margin-top: 10px;" color="dark" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter3']">Next Card</ion-button>
    <ion-button color="medium" size="small" expand="full" [routerDirection]="'root'" [routerLink]="['/toc']">Back To Prayer Card List
    </ion-button>

  </ion-card>
</ion-content>