<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Ephesians 5:2 ESV</ion-title>
  </ion-toolbar>
</ion-header>,

<ion-content fullscreen>

  <ion-card>
    <img src="../../assets/images/Prayer_115.jpg" />

    <ion-card-header>
      <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->
      <ion-card-title>Pray the <b>Scripture <i class="arrow down"></i></b></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      Father, I thank You for giving me Your only begotten Son, knowing nothing of sin, had to become sin so that I can
      be forgiven & gifted with grace I did not deserve. Thank You Lord for enduring the pain of having to turn away
      from Your precious son, as Your Word says Jesus cried out My God, why have You forsaken me? How deep & wide is
      Your love that You turned away from Your Son so I, who was Your enemy could be saved. Jesus thank You that You
      love me so much You choose to give Your life for me and be the lamb that was slain to take away my sins, the very
      thing that separated me from You, so we can have an intimate relationship. Remind me Lord God that there was a
      heavy price to pay so You can hear me in this moment. Remind me I am nothing without Your Love.
      <em style="color: #b21010;">In The Name of Jesus Amen</em>
    </ion-card-content>
    <ion-button style="margin-top: 10px;" color="dark" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter5']">Next Card</ion-button>
    <ion-button color="medium" size="small" expand="full" [routerDirection]="'root'" [routerLink]="['/toc']">Back To Prayer Card List
  </ion-button>

  </ion-card>
</ion-content>