<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Matthew 13: 31-32 NLT</ion-title>
  </ion-toolbar>
</ion-header>,

<ion-content fullscreen>

  <ion-card>
    <img src="../../assets/images/Prayer_118.jpg" />

    <ion-card-header>
      <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->
      <ion-card-title>Pray the <b>Scripture <i class="arrow down"></i></b></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      Father, thank You for Your precious Son Jesus. Your Word says, once I accept Jesus as my Lord & Saviour and I live
      in right standing with Him, by His blood & the finished work of the cross, my name is written in the Book Of Life.
      Thank You Lord for bestowing the gift of salvation when Your Son chose to give His life for me. Help me continue
      to spread the good news of the gospel of Jesus, planting seeds of hope and joy. Lord I ask that You would ready
      the soil of the hearts of whom You want me to be a witness to. Help me represent Jesus righteously by partnering
      with Holy Spirit. Father continue to prune me, and remove any fruits that is not of Your nature. I ask for
      boldness & courage to speak the truth of Your Word, as
      I continue to give You my yes, in adding sheep to Your kingdom.
      <em style="color: #b21010;">In The Name of Jesus Amen</em>
    </ion-card-content>
    <ion-button style="margin-top: 10px;" color="dark" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter7']">Next Card</ion-button>
    <ion-button color="medium" size="small" expand="full" [routerDirection]="'root'" [routerLink]="['/toc']">Back To Prayer Card List
  </ion-button>

  </ion-card>
</ion-content>