<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Luke 17:6 NIV</ion-title>
  </ion-toolbar>
</ion-header>,

<ion-content fullscreen>

  <ion-card>
    <img src="../../assets/images/Prayer_19.jpg" />

    <ion-card-header>
      <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->
      <ion-card-title>Pray the <b>Scripture <i class="arrow down"></i></b> </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      Father God, I thank You Lord, as it is written in Your Word, I am given a measure of faith to exercise. Remind me
      today, by the authority of Your Word, by the blood of Jesus, I can take my gifted faith and command the mountains
      of worry, stress, fear, lack, poverty, over whelming emotions, & anything else that is not of Your nature (love,
      joy, peace, patience, kindness, meekness and self control) to be removed. Remind me who I am in You. You tell me
      in Your Word, fear not for I have overcome the world. Help me to stand on the Rock of Jesus, and to not be moved,
      to trust in You and You alone. If You feed the birds & dress the lilies, You will provide all my
      needs according to Your Will. 
      <em style="color: #b21010;">In The Name of Jesus Amen</em>
     
    </ion-card-content>    
    <ion-button style="margin-top: 10px;" color="dark" expand="full" [routerDirection]="'root'" [routerLink]="['/chapter2']">Next Card</ion-button>
    <ion-button color="medium" size="small" expand="full" [routerDirection]="'root'" [routerLink]="['/toc']">Back To Prayer Card List</ion-button>

  </ion-card>
</ion-content>
