<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Prayer Card App </ion-title>
  </ion-toolbar>
</ion-header>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Prayers from the <br><span>-Persacted Heart-</span></ion-card-title>
    </ion-card-header>
    <a [routerDirection]="'root'" [routerLink]="['/toc']"><img src="../../assets/images/Prayer_122.jpg" alt="" /></a>
    <ion-card-content>
      <p>From their cells they found Jesus, and in their tallent begain to paint His Heart through each brush stroke.
        Partnering with Holy Spirit, there are inspiried prayers on timeless works of art to encourage you to pray the
        scriptures! Just as Paul these prisoners counted their thrones as joy and so birthed from their pain these
        prayer cards straight from the Lord Jesus Heart.</p>
    </ion-card-content>
